<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.greenlight.animalsounds"
        versionCode = "1" 
        version     = "2.0.0" >

    <name>Animal Sounds</name>

    <description>        
	Educational Game for cognitive development of the sound made by animals
    </description>

    <preference name="orientation" value="portrait" />

    <preference name="permissions" value="none"/>

    <gap:plugin name="org.apache.cordova.media" version="0.2.3" />

   <gap:splash src="Assets/screen/android/drawable-mdpi/splash.9.png" gap:platform="android" gap:qualifier="port-mdpi"/>
   <gap:splash src="Assets/screen/android/drawable-hdpi/splash.9.png" gap:platform="android" gap:qualifier="port-hdpi" />
   <gap:splash src="Assets/screen/android/drawable-xhdpi/splash.9.png" gap:platform="android" gap:qualifier="port-xhdpi"/>

    <author email="anoofs@gmail.com">
        Anoof Shaikh
    </author>

</widget>